<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <property name="LOG_HOME" value="C:/logs/changeFee" />
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/changeFee.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <!-- fileNamePattern>${LOG_HOME}/changeFee_%d{yyyy-MM-dd}.%i.log</fileNamePattern -->
            <fileNamePattern>${LOG_HOME}/changeFee_%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>5MB</maxFileSize>
            <!-- maxHistory>60</maxHistory -->
            <!-- totalSizeCap>20GB</totalSizeCap -->
        </rollingPolicy>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <logger name="org.springframework" level="ERROR" />
    <logger name="egovframework.rte" level="ERROR" />
    <logger name="com.wpk" level="INFO" />
     
    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
    
    <!-- if condition="property("RUN_MODE").equals("SERVICE")">
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT" />
                <appender-ref ref="FILE" />
            </root>
        </then>
        <else>
            <root level="DEBUG">
                <appender-ref ref="STDOUT" />
                <appender-ref ref="FILE" />
            </root>
        </else>
    </if -->
</configuration>